body {
	font-family: input, Arial, Consolas;
	font-size:14px;
	background-color: #342828;
}
nav {
 	/*display: inline-block;*/
 	width: 100%;
 	background-color: #191313;
 	border-radius: 10px;
 	padding: 5px 0 5px 0;
 }

nav ul input {
 	height: 24px;
 	border-radius:4px;
 	background-color: #120707;
 	border: none;
 	padding: 5px;
 	padding-left: 24px;
 	color: white;
 	outline: none;
 }

.fa {
	font-family: "FontAwesome";
	content: "\f002";
	position: absolute;
	color: #fff;
	font-size: 20px;
	margin-top:10px;
	margin-left: 5px;
}
nav ul li {
	display: inline-block;
 }

nav ul li a {
 	text-decoration: none;
 	color:#FFFFFF;
	background-color: #120707;
	padding: 8px 5px 8px 5px;
	border-radius: 3px;
	border-color: #000000;
 }

nav ul li a:hover {
	color: #342828;
	transition: all 0.2s;
	background-color: #FFFFFF;
 }

.textfolder {
	width: 400px;
	height: 200px;
	position: absolute;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
}

.item {
	width: 400px;
	height: 200px;
	margin: 235px;
 }
 
.item img {
	padding: 10px;
}
.itemsfolder {
	width: 400px;
	height: 200px;
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	margin-bottom: 15px;
 }
 
.wrapper {
	position: absolute;
	width: 400px;
	height: 200px;
	visibility: visible;
	transition: .1s all linear;
	opacity: 1;
}

.wrapper:hover {
	visibility: hidden;
	transition: .2s all linear;
	opacity: 0;
	cursor:pointer;
	transform: rotate(90deg);
}

.textfolder:hover+.wrapper {
	visibility: hidden;
	transition: .3s all linear;
	opacity: 0;
}

@media (max-width: 500px) {
	.folder {
		flex-wrap: wrap;
	}
}

.textfolder input {
	margin-left: 30px;
}